
body {
  margin: 0;
  padding: 0;
  background: #b7dbe7; 
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 0;
  padding: 32px 0 18px 0;
  text-align: center;
  font-size: 72px;
  font-weight: 800;
  color: #000;
}

h2 {
  margin: 18px 10px 10px 10px;
  font-size: 44px;
  font-weight: 800;
  color: #000;
}

h3 {
  margin: 18px 10px 10px 10px;
  font-size: 26px;
  font-weight: 800;
  color: #000;
}


p {
  margin: 10px;
  line-height: 1.35;
}

/* Paragraph 2 box style*/
#paragraph2 {
  background: #ffffff;
  border: 4px solid #1a8c18;   
  padding: 26px 44px;          
  margin: 18px auto;          
  width: 72%;                  
  line-height: 1.75;
  box-sizing: border-box;
}


p.blue {
  background: #0a1f87;
  color: #ffffff;
  border: 2px solid #000000;
  padding: 18px 18px;
  margin: 18px 10px;
  line-height: 1.45;
}

ol a:link,
ol a:visited {
  color: #0b54d1;
}


a[href*="w3schools"]:link,
a[href*="w3schools"]:visited {
  color: #7a1ea1; 
}


a:hover {
  text-decoration: underline;
}


ol {
  list-style-type: decimal-leading-zero;
  margin: 0 0 0 40px;
}


table {
  border-collapse: collapse; 
  margin: 10px;
}

th,
td {
  border: 1px solid #000;
  padding: 8px 10px;
  text-align: left;
}

th {
  background: #d9d9d9; 
  font-weight: 700;
}

td {
  background: #ffffff; 
}


.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111111;
}